.aboutBody {
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #18134d;
  width: 50%;
  margin: auto;
}
.aboutH1 {
  font-size: 3rem;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.aboutP {
  font-size: 2rem;
  color: #fff;
  width: 75%;
  margin-bottom: 3rem;
}
.aboutUL {
  font-size: 2rem;
  color: rgb(209, 193, 193);
  width: 62%;
}
.aboutLI {
  margin-bottom: 2rem;
}
.AboutNav {
  list-style: none;
  display: flex;
  min-width: 13rem;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 8rem;
  color: #fff;
  font-size: 2rem;
}
.AboutNav li {
  border-bottom: 1.5px solid #18134d;
}
.AboutNav li:hover {
  border-bottom: whitesmoke 1.5px solid;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
.aboutUL {
  margin-bottom: 4rem;
}

@media (max-width: 1200px) {
  .aboutBody {
    width: 80vw;
  }
  .aboutP {
    font-size: 1.4rem;
  }
  .aboutUL {
    font-size: 1.5rem;
  }
  .aboutH1 {
    font-size: 2.3rem;
  }
}
@media (max-width: 530px) {
  .aboutBody {
    width: 100vw;
  }
  .aboutH1 {
    font-size: 1.7rem;
  }
  .aboutP {
    font-size: 1.2rem;
  }
  .aboutUL {
    font-size: 1.1rem;
  }
}
